.user-info {
  text-align: center;
  background-color: #0a122f;
  color: #e1c6ff;
  height: 100%;
  padding-top: 4rem;
}

.btn {
  background-color: #3f51b5;
  margin-right: 10px;
  color: #e1c6ff;
}

.btn:hover {
  color: #3f51b5;
  background-color: #e1c6ff;
}